#login-container {
  height: 100vh;
  display: flex;
  justify-items: auto;
}

#login {
  height: 500px;
  width: 500px;
  box-shadow: 5px 8px 9px -4px rgba(0, 0, 0, 0.1);
  margin: auto;
  background-color: #fff;
  padding: 2.5rem;
}

#logo {
  margin-top: 0.5rem;

  img {
    width: 120px;
  }
}

h1 {
  font-size: 2rem;
  margin-top: 1rem;
  letter-spacing: -0.5px;
}

h4 {
  color: darken(#f4f4f4, 20%);
  font-weight: 550;
  letter-spacing: -0.5px;
  margin-left: 0.2rem;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;

  label[for='email'] {
    color: darken(#f4f4f4, 30%);
    font-size: 0.9rem;
    font-weight: 600;
  }

  #email-input {
    padding: 0.75rem 0.5rem;
    border: 2px solid #f4f4f4;
    border-radius: 5px;
    margin-bottom: 0.6rem;
  }

  #checkbox-container {
    display: flex;
    align-items: center;
  }

  input[type='checkbox'] {
    border-radius: 5px;
    margin-right: 0.6rem;
    height: 17px;
    width: 17px;
    position: relative;
    top: 4px;
  }

  label#checkbox-label {
    font-weight: 600;
    font-size: 0.8rem;
    color: darken(#f4f4f4, 50%);
    letter-spacing: -0.9px;
    padding-bottom: 1rem;
  }

  button#login-btn {
    width: 30%;
    background-color: #fff;
    margin-top: 2rem;
    padding: 1rem 0.5rem;
    border: 3px solid #f4f4f4;
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'GothamSSm-Book';
    letter-spacing: -0.7px;
    line-height: 0.8rem;
    color: darken(#f4f4f4, 50%);
    cursor: pointer;
    transition: 0.1s ease-in;

    &:hover {
      background-color: #2eaf5f;
      color: #fff;
    }
  }
}
